*{
    box-sizing: border-box;
    margin:0; 
    padding:0; 
    text-decoration: none;
    font-family: sans-serif;
}
header{
    background-color: rgb(74, 35, 90);
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.barra{
    max-width: 100%;
    padding: 0 10px;
    margin: auto; 
}
.logo{
    float:left;
    padding: 15px 20px 0;
}
.logo img{
    height: 60px;
}
.navegacion{
        float: right;
        display: flex;
        align-items: center;
        min-height: 90px;
        z-index: 1000;
}
.navegacion ul{
        list-style: none;
        padding: 0 10px;
}
.navegacion ul li{
        display: inline-block;
        position: relative;
        transition: .3s linear;
        z-index: 1000;
}
.navegacion ul li:hover{
   transform: scale(1.1);
}
.navegacion ul li a{
    color:#ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion .btn button{
    font-weight: 700;
    color: #7D3C98;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
h2 {
    color:  #7D3C98;
    font-family: sans-serif;
    font-size: 80px;
    text-align:center;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-bottom: 40px;
}

h3 {
    color:  #7D3C98;
    text-transform:capitalize;
    text-align: center;
    margin-bottom: 20px;
}

.form_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.form_ingresos, .form_gastos {
    padding: 10px;
}

form {
    text-align: center;

}

label {
    display: block;
    margin-bottom: 10px;
}
input, select {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}
#add-income{
    padding: 10px;
    border-color: #7D3C98;
    border-radius: 10px;
    border-width: 3px;
    margin-bottom: 40px;
}
#add-expense{
    padding: 10px;
    border-color: #7D3C98;
    border-radius: 10px;
    border-width: 3px;
    margin-bottom: 40px;
}
.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-column {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-enviar {
    background-color: white;
    border: 3px solid #7D3C98;
    color: #7D3C98;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 20px;
}
.boton-enviar:hover {
    background-color: #7D3C98;
    color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

th, td {
    border: 1px solid #7D3C98;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #8c45aa;
}

td {
    background-color: #ffffff;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

.btn-edit {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    padding: 2px 6px; 
    font-size: 15px; 
    height: 8px; /* altura del botón */
    width: 8px; /* ancho del botón */
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete {
    background-color: #f44336;
    color: white;
    border: 1px solid #f44336;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 2px 6px; 
    font-size: 15px; 
    height: 8px; 
    width: 8px;
}

.btn-delete:hover {
    background-color: #da190b;
}
