<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
</head>
<body>
    <!--FORMULARIO PARA ACTUALIZAR DATOS--> 
    <h2 id="title">Presupuestos</Em><hr> </h2>
    <h3>En esta sección implementaremos las siguientes funcionalidades </h3>
    <div class="funcionalidades">
        <h3>Creación de presupuesto</h3>
        <p>Los usuarios podrán crear presupuestos por períodos específicos para diversos objetivos y podrán definir límites de gastos para diferentes categorías</p>
        <h3>Visualización del gasto por categoría</h3>
        <p>Se crearán automáticamente gráficos de barra o torta para visualizar los avances del presupuesto</p>
        <h3>Notificación de gastos</h3>
        <p>Scripts con alertas para notificar a los usuarios cuando el presupuesto está por superarse con algún gasto en determinada categoría</p>
    </div>
    <div>
        <input type="submit" class="boton-enviar-pre" value="Próximamente">
    </div>
</body>
</html>
