<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de finanzas</title>
    <header>
        <div class="barra">
            <a href="" class="logo"><img src="{{ url_for('static', filename='images/utn.png') }}" alt="Logo UTN"></a>   
            <nav class="navegacion">
                <ul>
                  <li><a href="{{ url_for('login') }}">Inicio</a></li>  
                    <li><a href="{{ url_for('incomes_expenses') }}">Ingresos y gastos</a></li>
                    <li><a href="{{ url_for('budget') }}">Presupuestos</a></li>
                    <li><a href="{{ url_for('profile') }}"class="btn"><button>Mi perfil</button></a></li>
                </ul>
            </nav>
        </div>
    </header>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <section class="container1">
        <div class="main-text">
            <h1>gestiona tus finanzas</h1>
            <p>Mejora tu salud financiera y toma decisiones informadas para un futuro económico más seguro</p>
            <button>Empieza</button>
        </div>
    </section>
    <section class="container2">
        <div class="modulo1">
            <img src="{{ url_for('static', filename='images/2.png')}}" alt="ícono ingresos">
            <h2 class="inc">
                <a href="#" class="button">Ingresos y gastos</a>
            </h2>     
            <p>Registrar ingresos y gastos te da una visión clara de tus finanzas. Esto te permite identificar hábitos y tomar decisiones informadas</p>
        </div>

        <div class="modulo2">
            <img src="{{ url_for('static', filename='images/3.png')}}" alt="ícono pres">
            <h2 class="pres">
                <a href="{{ url_for('budget') }}" class="button">Presupuestos</a>
            </h2>            
            <p>Realizar presupuestos te ayuda a controlar tus finanzas, evitar deudas y ahorrar para metas futuras, como emergencias o retiros</p>
        </div>

    </section>
</body>
<footer>
    <div class="section">
        <div class="utn">
            <h3>UTN | Facultad Regional San Rafael</h3>
            <h3>Proyecto integrador en Python</h3>
            <h3>Profesor Ariel Betancud</h3>
        </div>
        <div class="grupo">
            <ul>
                <li>Castro Santiago</li>
                <li>Betancur Sebastián</li>
                <li>Nahuel Gianella</li>
                <li>Pizzolato Angelina</li>
            </ul>
        </div>
    </div>
        <div class="copy">
            <small>&copy;2024 Todos los derechos reservados | Brigada Binaria</small>
        </div>
</footer>
</html>