<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de finanzas</title>
</head>
<body>
    <h1>gestiona tud finanzas</h1>
    <p>Mejora tu salud financiera y toma decisiones informadas para un futuro económico más seguro</p>

    <button>Comenzar</button>

    <h2>Ingresos y gastos</h2>
    <p>Registrar ingresos y gastos te da una visión clara de tus finanzas. Esto te permite identificar hábitos y tomar decisiones informadas</p>

    <h2>Presupuestos</h2>
    <p>Realizar presupuestos te ayuda a controlar tus finanzas, evitar deudas y ahorrar para metas futuras, como emergencias o retiros</p>
</body>
<footer>
    <h3>UTN | Facultad Regional San Rafael</h3>
    <h3>Proyecto integrador en Python</h3>

    <ul>
        <li>Castro Santiago</li>
        <li>Betancur Sebastián</li>
        <li>Nahuel Gianella</li>
        <li>Pizzolato Angelina</li>
    </ul>
</footer>
</html>