<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos y gastos</title>
    <header>
        <div class="barra">
            <a href="" class="logo"><img src="#" alt="Logo UTN"></a>   
            <nav class="navegacion">
                <ul>
                  <li><a href="#">Inicio</a></li>  
                    <li><a href="#">Ingresos y gastos</a></li>
                    <li><a href="#">Presupuestos</a></li>
                    <li><a href="#"class="btn"><button>Mi perfil</button></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <link rel="stylesheet" href="#">
</head>
<body>
</body>
</html
