<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos y gastos</title>
    <header>
        <div class="barra">
            <a href="" class="logo"><img src="#" alt="Logo UTN"></a>   
            <nav class="navegacion">
                <ul>
                    <li><a href="{{ url_for('login') }}">Inicio</a></li>  
                    <li><a href="{{ url_for('incomes_expenses') }}">Ingresos y gastos</a></li>
                    <li><a href="{{ url_for('budget') }}">Presupuestos</a></li>
                    <li><a href="{{ url_for('profile') }}"class="btn"><button>Mi perfil</button></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inc_exp.css') }}">
</head>
<body>
    <h2 id="title">Ingresos y gastos</h2>

    <div class="form_container">
        <!-- Formulario para añadir ingresos -->
        <div class="form_ingreso">
            <h3>Añadir Ingreso</h3>
        <form id="add-income" action="{{ url_for('add_income') }}" method="POST">
            <div class="form-row">
                <div class="form-column">
                    <label for="date-income" class="form-label">Fecha</label>
                    <input type="date" name="date" id="date-income" class="form-control" required>
                </div>
                <div class="form-column">
                    <label for="amount-income" class="form-label">Monto</label>
                    <input type="number" step="0.01" name="amount" id="amount-income" class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <label for="category-income" class="form-label">Categoría</label>
                    <select name="category" id="category-income" class="form-control" required>
                        <option value="sueldo">Sueldo</option>
                        <option value="inversiones">Inversiones</option>
                        <option value="alquileres">Alquileres</option>
                        <option value="venta de artículos">Venta de artículos</option>
                        <option value="otros">Otros</option>
                    </select>
                </div>
                <div class="form-column">
                    <label for="description-income" class="form-label">Descripción</label>
                    <input type="text" name="description" id="description-income" class="form-control">
                </div>
            </div>
            <button type="submit" class="boton-enviar">Guardar ingreso</button>
        </form>
        </div>

         <!-- Formulario para añadir gastos -->
         <div class="form_gasto">
            <h3>Añadir Gasto</h3>
            <form id="add-expense" action="{{ url_for('add_expense') }}" method="POST">
                <div class="form-row">
                    <div class="form-column">
                        <label for="date-expense" class="form-label">Fecha</label>
                        <input type="date" name="date" id="date-expense" class="form-control" required>
                    </div>
                    <div class="form-column">
                        <label for="amount-expense" class="form-label">Monto</label>
                        <input type="number" step="0.01" name="amount" id="amount-expense" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-column">
                        <label for="category-expense" class="form-label">Categoría</label>
                        <select name="category" id="category-expense" class="form-control" required>
                            <option value="impuestos">Impuestos</option>
                            <option value="servicios">Servicios</option>
                            <option value="salud e higiene">Salud e Higiene</option>
                            <option value="alimentación">Alimentación</option>
                            <option value="transporte">Transporte</option>
                            <option value="otros gastos">Otros gastos</option>
                        </select>
                    </div>
                    <div class="form-column">
                        <label for="description-expense" class="form-label">Descripción</label>
                        <input type="text" name="description" id="description-expense" class="form-control">
                    </div>
                </div>
                <button type="submit" class="boton-enviar">Guardar gasto</button>
            </form>
        </div>
    </div>

    <!-- Formulario para editar ingreso -->
{% if income %}
<div class="edit_form">
    <h3>Modificar Ingreso</h3>
    <form id="edit-income" action="{{ url_for('edit_income', income_id=income.id) }}" method="POST">
        <div class="form-row">
            <div class="form-column">
                <label for="date-income-edit" class="form-label">Fecha</label>
                <input type="date" name="date" id="date-income-edit" class="form-control" value="{{ income.fecha }}" required>
            </div>
            <div class="form-column">
                <label for="amount-income-edit" class="form-label">Monto</label>
                <input type="number" step="0.01" name="amount" id="amount-income-edit" class="form-control" value="{{ income.monto }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="category-income-edit" class="form-label">Categoría</label>
                <select name="category" id="category-income-edit" class="form-control" required>
                    <option value="sueldo" {% if income.categoria == 'sueldo' %} selected {% endif %}>Sueldo</option>
                    <option value="inversiones" {% if income.categoria == 'inversiones' %} selected {% endif %}>Inversiones</option>
                    <option value="alquileres" {% if income.categoria == 'alquileres' %} selected {% endif %}>Alquileres</option>
                    <option value="venta de artículos" {% if income.categoria == 'venta de artículos' %} selected {% endif %}>Venta de artículos</option>
                    <option value="otros" {% if income.categoria == 'otros' %} selected {% endif %}>Otros</option>
                </select>
            </div>
            <div class="form-column">
                <label for="description-income-edit" class="form-label">Descripción</label>
                <input type="text" name="description" id="description-income-edit" class="form-control" value="{{ income.descripcion }}">
            </div>
        </div>
        <button type="submit" class="boton-enviar">Guardar cambios</button>
    </form>
</div>
{% endif %}

    <!-- Formulario para editar gasto -->
{% if expense %}
<div class="edit_form">
    <h3>Modificar Gasto</h3>
    <form id="edit-expense" action="{{ url_for('edit_expense', expense_id=expense.id) }}" method="POST">
        <div class="form-row">
            <div class="form-column">
                <label for="date-expense-edit" class="form-label">Fecha</label>
                <input type="date" name="date" id="date-expense-edit" class="form-control" value="{{ expense.fecha }}" required>
            </div>
            <div class="form-column">
                <label for="amount-expense-edit" class="form-label">Monto</label>
                <input type="number" step="0.01" name="amount" id="amount-expense-edit" class="form-control" value="{{ expense.monto }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="category-expense-edit" class="form-label">Categoría</label>
                <select name="category" id="category-expense-edit" class="form-control" required>
                    <option value="impuestos" {% if expense.categoria == 'impuestos' %} selected {% endif %}>Impuestos</option>
                    <option value="servicios" {% if expense.categoria == 'servicios' %} selected {% endif %}>Servicios</option>
                    <option value="salud e higiene" {% if expense.categoria == 'salud e higiene' %} selected {% endif %}>Salud e Higiene</option>
                    <option value="alimentación" {% if expense.categoria == 'alimentación' %} selected {% endif %}>Alimentación</option>
                    <option value="transporte" {% if expense.categoria == 'transporte' %} selected {% endif %}>Transporte</option>
                    <option value="otros gastos" {% if expense.categoria == 'otros gastos' %} selected {% endif %}>Otros gastos</option>
                </select>
            </div>
            <div class="form-column">
                <label for="description-expense-edit" class="form-label">Descripción</label>
                <input type="text" name="description" id="description-expense-edit" class="form-control" value="{{ expense.descripcion }}">
            </div>
        </div>
        <button type="submit" class="boton-enviar">Guardar cambios</button>
    </form>
</div>
{% endif %}


     <!-- Tabla de ingresos y gastos -->
     <h3>Resumen</h3>
     <table id="inc-exp-table">
         <thead>
             <tr>
                 <th>Tipo</th>
                 <th>Fecha</th>
                 <th>Monto</th>
                 <th>Categoría</th>
                 <th>Descripción</th>
                 <th>Acciones</th>
             </tr>
         </thead>
         <tbody>
             {% for income in incomes %}
             <tr>
                 <td>Ingreso</td>
                 <td>{{ income.fecha }}</td>
                 <td>{{ income.monto }}</td>
                 <td>{{ income.categoria}}</td>
                 <td>{{ income.descripcion }}</td>
                 <td>
                     <a href="{{ url_for('edit_income', income_id=income.id) }}" class="btn-edit">Modificar</a>
                     <a href="{{ url_for('delete_income', income_id=income.id) }}" class="btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar este ingreso?');">Eliminar</a>
                 </td>
             </tr>
             {% endfor %}
             {% for expense in expenses %}
             <tr>
                 <td>Gasto</td>
                 <td>{{ expense.fecha }}</td>
                 <td>{{ expense.monto }}</td>
                 <td>{{ expense.categoria }}</td>
                 <td>{{ expense.descripcion }}</td>
                 <td>
                     <a href="{{ url_for('edit_expense', expense_id=expense.id) }}" class="btn-edit">Modificar</a>
                     <a href="{{ url_for('delete_expense', expense_id=expense.id) }}" class="btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar este gasto?');">Eliminar</a>
                 </td>
             </tr>
             {% endfor %}
         </tbody>
     </table>

</body>
</html>
