<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <h2 class="formulario" id="title">Iniciar sesión<hr></h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="POST" autocomplete="off">
        <div>
            <label for="email" class="form-label">Ingrese su email</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div>
            <label for="password" class="form-label">Ingrese su contraseña</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div>
            <button type="submit" class="boton-enviar">Iniciar sesión</button>
        </div>
        <div>
            <span>No tienes cuenta?</span>
            <a href="{{ url_for('registrarse') }}" id="link-registrarse" class="crear-usuario">Crear cuenta</a>
        </div>
    </form>
</body>
</html>
