<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="link de la otra pàgina" method="POST" autocomplete="off">
        <div>
            <label for="email" class="form-label">Ingrese su email</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div>
            <label for="password" class="form-label">Ingrese su contraseña</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div>
            <button type="submit" class="boton-enviar">Iniciar sesión</button>
        </div>
        <div>
            <span>No tienes cuenta?</span>
            <a href="#" id="link-registrarse" class="crear-usuario">Crear cuenta</a>
        </div>
    </form>
</body>
</html>
