<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <!--FORMULARIO PARA ACTUALIZAR DATOS--> 
    <h2 id="title">Editar mi perfil</Em><hr> </h2>
    <form name="registro" id="register" action="{{ url_for('profile') }}" method="POST" autocomplete="off">
        <div class="row">
            <div>
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" required name="nombre" class="form-control" autofocus required>
            </div>
            <div>
                <label for="apellido" class="forma-label">Apellido</label>
                <input type="text" required name="apellido" class="form-control" required>
            </div>
        </div>
        <div>
            <label for="email" class="forma-label mt-3">Email</label>
            <input type="email" required name="email" class="form-control" required>
        </div>
        <div class="row">
            <div>
                <label for="password" class="forma-label mt-3">Password</label>
                <input type="password" required name="password" class="form-control" required>
            </div>
            <div>
                <label for="repite_password" class="form-label mt-3">Repetir password</label>
                <input type="password" required name="repite_password" class="form-control" required>
            </div>
        </div>
        <div>
            <input type="submit" class="boton-enviar-reg" id="sendForm" value="Guardar cambios">
        </div>
    </form>
</body>
</html>